@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-grey: hsl(0, 0%, 14%);
  --clr-green: hsl(153, 71%, 59%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(0, 0%, 85%);
  --clr-red: hsl(7, 100%, 68%);
  --ff: 'Space Grotesk', sans-serif;
  --transition: 0.3s ease;
}

